# 单元测试结果

执行命令:`mvn --settings /Users/huiyangz/tokfinity/loopmill/workspace/projects/7ce530df/SYS-28/ab121448/maven-settings.xml -Dtest=com.dcits.deposit.rule.BR065Test -Dsurefire.failIfNoSpecifiedTests=false -Dmaven.test.failure.ignore=true test`

- 测试类 1 个;用例总数 4,失败 0,错误 0,跳过 0
- 编译失败:否
- 未发现测试类或有用例失败均判定不通过

