<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.deposit.repo.RbSignTypeMapper">
    <resultMap id="BaseResultMap" type="com.dcits.deposit.entity.RbSignType">
        <id column="SIGN_TYPE" property="signType" jdbcType="VARCHAR" />
        <result column="SIGN_TYPE_DESC" property="signTypeDesc" jdbcType="VARCHAR" />
        <result column="AGREEMENT_CLOSE_ACCT_FLAG" property="agreementCloseAcctFlag" jdbcType="VARCHAR" />
        <result column="EXCLUDE_TYPE" property="excludeType" jdbcType="VARCHAR" />
        <result column="REPACK_FLAG" property="repackFlag" jdbcType="VARCHAR" />
        <result column="TRAN_TIMESTAMP" property="tranTimestamp" jdbcType="VARCHAR" />
        <result column="COMPANY" property="company" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        SIGN_TYPE,        SIGN_TYPE_DESC,        AGREEMENT_CLOSE_ACCT_FLAG,        EXCLUDE_TYPE,        REPACK_FLAG,        TRAN_TIMESTAMP,        COMPANY    </sql>

    <select id="selectByExample" parameterType="com.dcits.deposit.entity.RbSignTypeExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from RB_SIGN_TYPE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from RB_SIGN_TYPE
        where SIGN_TYPE = #{signType,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from RB_SIGN_TYPE
        where SIGN_TYPE = #{signType,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.dcits.deposit.entity.RbSignTypeExample">
        delete from RB_SIGN_TYPE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.dcits.deposit.entity.RbSignType">
        insert into RB_SIGN_TYPE
        (
            SIGN_TYPE,            SIGN_TYPE_DESC,            AGREEMENT_CLOSE_ACCT_FLAG,            EXCLUDE_TYPE,            REPACK_FLAG,            TRAN_TIMESTAMP,            COMPANY        )
        values
        (
            #{signType,jdbcType=VARCHAR},            #{signTypeDesc,jdbcType=VARCHAR},            #{agreementCloseAcctFlag,jdbcType=VARCHAR},            #{excludeType,jdbcType=VARCHAR},            #{repackFlag,jdbcType=VARCHAR},            #{tranTimestamp,jdbcType=VARCHAR},            #{company,jdbcType=VARCHAR}        )
    </insert>

    <insert id="insertSelective" parameterType="com.dcits.deposit.entity.RbSignType">
        insert into RB_SIGN_TYPE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="signType != null">
                SIGN_TYPE,
            </if>
            <if test="signTypeDesc != null">
                SIGN_TYPE_DESC,
            </if>
            <if test="agreementCloseAcctFlag != null">
                AGREEMENT_CLOSE_ACCT_FLAG,
            </if>
            <if test="excludeType != null">
                EXCLUDE_TYPE,
            </if>
            <if test="repackFlag != null">
                REPACK_FLAG,
            </if>
            <if test="tranTimestamp != null">
                TRAN_TIMESTAMP,
            </if>
            <if test="company != null">
                COMPANY,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="signType != null">
                #{signType,jdbcType=VARCHAR},
            </if>
            <if test="signTypeDesc != null">
                #{signTypeDesc,jdbcType=VARCHAR},
            </if>
            <if test="agreementCloseAcctFlag != null">
                #{agreementCloseAcctFlag,jdbcType=VARCHAR},
            </if>
            <if test="excludeType != null">
                #{excludeType,jdbcType=VARCHAR},
            </if>
            <if test="repackFlag != null">
                #{repackFlag,jdbcType=VARCHAR},
            </if>
            <if test="tranTimestamp != null">
                #{tranTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.dcits.deposit.entity.RbSignTypeExample" resultType="java.lang.Long">
        select count(*) from RB_SIGN_TYPE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map">
        update RB_SIGN_TYPE
        <set>
            <if test="row.signType != null">
                SIGN_TYPE = #{row.signType,jdbcType=VARCHAR},
            </if>
            <if test="row.signTypeDesc != null">
                SIGN_TYPE_DESC = #{row.signTypeDesc,jdbcType=VARCHAR},
            </if>
            <if test="row.agreementCloseAcctFlag != null">
                AGREEMENT_CLOSE_ACCT_FLAG = #{row.agreementCloseAcctFlag,jdbcType=VARCHAR},
            </if>
            <if test="row.excludeType != null">
                EXCLUDE_TYPE = #{row.excludeType,jdbcType=VARCHAR},
            </if>
            <if test="row.repackFlag != null">
                REPACK_FLAG = #{row.repackFlag,jdbcType=VARCHAR},
            </if>
            <if test="row.tranTimestamp != null">
                TRAN_TIMESTAMP = #{row.tranTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="row.company != null">
                COMPANY = #{row.company,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map">
        update RB_SIGN_TYPE
        set
            SIGN_TYPE = #{row.signType,jdbcType=VARCHAR},            SIGN_TYPE_DESC = #{row.signTypeDesc,jdbcType=VARCHAR},            AGREEMENT_CLOSE_ACCT_FLAG = #{row.agreementCloseAcctFlag,jdbcType=VARCHAR},            EXCLUDE_TYPE = #{row.excludeType,jdbcType=VARCHAR},            REPACK_FLAG = #{row.repackFlag,jdbcType=VARCHAR},            TRAN_TIMESTAMP = #{row.tranTimestamp,jdbcType=VARCHAR},            COMPANY = #{row.company,jdbcType=VARCHAR}        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.dcits.deposit.entity.RbSignType">
        update RB_SIGN_TYPE
        <set>
            <if test="signTypeDesc != null">
                SIGN_TYPE_DESC = #{signTypeDesc,jdbcType=VARCHAR},
            </if>
            <if test="agreementCloseAcctFlag != null">
                AGREEMENT_CLOSE_ACCT_FLAG = #{agreementCloseAcctFlag,jdbcType=VARCHAR},
            </if>
            <if test="excludeType != null">
                EXCLUDE_TYPE = #{excludeType,jdbcType=VARCHAR},
            </if>
            <if test="repackFlag != null">
                REPACK_FLAG = #{repackFlag,jdbcType=VARCHAR},
            </if>
            <if test="tranTimestamp != null">
                TRAN_TIMESTAMP = #{tranTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                COMPANY = #{company,jdbcType=VARCHAR},
            </if>
        </set>
        where SIGN_TYPE = #{signType,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.dcits.deposit.entity.RbSignType">
        update RB_SIGN_TYPE
        set
            SIGN_TYPE_DESC = #{signTypeDesc,jdbcType=VARCHAR},            AGREEMENT_CLOSE_ACCT_FLAG = #{agreementCloseAcctFlag,jdbcType=VARCHAR},            EXCLUDE_TYPE = #{excludeType,jdbcType=VARCHAR},            REPACK_FLAG = #{repackFlag,jdbcType=VARCHAR},            TRAN_TIMESTAMP = #{tranTimestamp,jdbcType=VARCHAR},            COMPANY = #{company,jdbcType=VARCHAR}        where SIGN_TYPE = #{signType,jdbcType=VARCHAR}
    </update>
</mapper>