<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.deposit.repo.RbTaeAccountCheckSumMapper">
    <resultMap id="BaseResultMap" type="com.dcits.deposit.entity.RbTaeAccountCheckSum">
        <id column="SESSION_ID" property="sessionId" jdbcType="VARCHAR" />
        <result column="CRET_TOTAL_NUM" property="cretTotalNum" jdbcType="INTEGER" />
        <result column="CRET_TOTAL_AMT" property="cretTotalAmt" jdbcType="DECIMAL" />
        <result column="DEBT_TOTAL_NUM" property="debtTotalNum" jdbcType="INTEGER" />
        <result column="DEBT_TOTAL_AMT" property="debtTotalAmt" jdbcType="DECIMAL" />
        <result column="TRAN_TIMESTAMP" property="tranTimestamp" jdbcType="VARCHAR" />
        <result column="LAST_CHANGE_DATE" property="lastChangeDate" jdbcType="TIMESTAMP" />
        <result column="CREATE_TIMESTAMP" property="createTimestamp" jdbcType="VARCHAR" />
        <result column="COMPANY" property="company" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        SESSION_ID,        CRET_TOTAL_NUM,        CRET_TOTAL_AMT,        DEBT_TOTAL_NUM,        DEBT_TOTAL_AMT,        TRAN_TIMESTAMP,        LAST_CHANGE_DATE,        CREATE_TIMESTAMP,        COMPANY    </sql>

    <select id="selectByExample" parameterType="com.dcits.deposit.entity.RbTaeAccountCheckSumExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from RB_TAE_ACCOUNT_CHECK_SUM
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from RB_TAE_ACCOUNT_CHECK_SUM
        where SESSION_ID = #{sessionId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from RB_TAE_ACCOUNT_CHECK_SUM
        where SESSION_ID = #{sessionId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.dcits.deposit.entity.RbTaeAccountCheckSumExample">
        delete from RB_TAE_ACCOUNT_CHECK_SUM
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.dcits.deposit.entity.RbTaeAccountCheckSum">
        insert into RB_TAE_ACCOUNT_CHECK_SUM
        (
            SESSION_ID,            CRET_TOTAL_NUM,            CRET_TOTAL_AMT,            DEBT_TOTAL_NUM,            DEBT_TOTAL_AMT,            TRAN_TIMESTAMP,            LAST_CHANGE_DATE,            CREATE_TIMESTAMP,            COMPANY        )
        values
        (
            #{sessionId,jdbcType=VARCHAR},            #{cretTotalNum,jdbcType=INTEGER},            #{cretTotalAmt,jdbcType=DECIMAL},            #{debtTotalNum,jdbcType=INTEGER},            #{debtTotalAmt,jdbcType=DECIMAL},            #{tranTimestamp,jdbcType=VARCHAR},            #{lastChangeDate,jdbcType=TIMESTAMP},            #{createTimestamp,jdbcType=VARCHAR},            #{company,jdbcType=VARCHAR}        )
    </insert>

    <insert id="insertSelective" parameterType="com.dcits.deposit.entity.RbTaeAccountCheckSum">
        insert into RB_TAE_ACCOUNT_CHECK_SUM
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sessionId != null">
                SESSION_ID,
            </if>
            <if test="cretTotalNum != null">
                CRET_TOTAL_NUM,
            </if>
            <if test="cretTotalAmt != null">
                CRET_TOTAL_AMT,
            </if>
            <if test="debtTotalNum != null">
                DEBT_TOTAL_NUM,
            </if>
            <if test="debtTotalAmt != null">
                DEBT_TOTAL_AMT,
            </if>
            <if test="tranTimestamp != null">
                TRAN_TIMESTAMP,
            </if>
            <if test="lastChangeDate != null">
                LAST_CHANGE_DATE,
            </if>
            <if test="createTimestamp != null">
                CREATE_TIMESTAMP,
            </if>
            <if test="company != null">
                COMPANY,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sessionId != null">
                #{sessionId,jdbcType=VARCHAR},
            </if>
            <if test="cretTotalNum != null">
                #{cretTotalNum,jdbcType=INTEGER},
            </if>
            <if test="cretTotalAmt != null">
                #{cretTotalAmt,jdbcType=DECIMAL},
            </if>
            <if test="debtTotalNum != null">
                #{debtTotalNum,jdbcType=INTEGER},
            </if>
            <if test="debtTotalAmt != null">
                #{debtTotalAmt,jdbcType=DECIMAL},
            </if>
            <if test="tranTimestamp != null">
                #{tranTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="lastChangeDate != null">
                #{lastChangeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createTimestamp != null">
                #{createTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.dcits.deposit.entity.RbTaeAccountCheckSumExample" resultType="java.lang.Long">
        select count(*) from RB_TAE_ACCOUNT_CHECK_SUM
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map">
        update RB_TAE_ACCOUNT_CHECK_SUM
        <set>
            <if test="row.sessionId != null">
                SESSION_ID = #{row.sessionId,jdbcType=VARCHAR},
            </if>
            <if test="row.cretTotalNum != null">
                CRET_TOTAL_NUM = #{row.cretTotalNum,jdbcType=INTEGER},
            </if>
            <if test="row.cretTotalAmt != null">
                CRET_TOTAL_AMT = #{row.cretTotalAmt,jdbcType=DECIMAL},
            </if>
            <if test="row.debtTotalNum != null">
                DEBT_TOTAL_NUM = #{row.debtTotalNum,jdbcType=INTEGER},
            </if>
            <if test="row.debtTotalAmt != null">
                DEBT_TOTAL_AMT = #{row.debtTotalAmt,jdbcType=DECIMAL},
            </if>
            <if test="row.tranTimestamp != null">
                TRAN_TIMESTAMP = #{row.tranTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="row.lastChangeDate != null">
                LAST_CHANGE_DATE = #{row.lastChangeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="row.createTimestamp != null">
                CREATE_TIMESTAMP = #{row.createTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="row.company != null">
                COMPANY = #{row.company,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map">
        update RB_TAE_ACCOUNT_CHECK_SUM
        set
            SESSION_ID = #{row.sessionId,jdbcType=VARCHAR},            CRET_TOTAL_NUM = #{row.cretTotalNum,jdbcType=INTEGER},            CRET_TOTAL_AMT = #{row.cretTotalAmt,jdbcType=DECIMAL},            DEBT_TOTAL_NUM = #{row.debtTotalNum,jdbcType=INTEGER},            DEBT_TOTAL_AMT = #{row.debtTotalAmt,jdbcType=DECIMAL},            TRAN_TIMESTAMP = #{row.tranTimestamp,jdbcType=VARCHAR},            LAST_CHANGE_DATE = #{row.lastChangeDate,jdbcType=TIMESTAMP},            CREATE_TIMESTAMP = #{row.createTimestamp,jdbcType=VARCHAR},            COMPANY = #{row.company,jdbcType=VARCHAR}        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.dcits.deposit.entity.RbTaeAccountCheckSum">
        update RB_TAE_ACCOUNT_CHECK_SUM
        <set>
            <if test="cretTotalNum != null">
                CRET_TOTAL_NUM = #{cretTotalNum,jdbcType=INTEGER},
            </if>
            <if test="cretTotalAmt != null">
                CRET_TOTAL_AMT = #{cretTotalAmt,jdbcType=DECIMAL},
            </if>
            <if test="debtTotalNum != null">
                DEBT_TOTAL_NUM = #{debtTotalNum,jdbcType=INTEGER},
            </if>
            <if test="debtTotalAmt != null">
                DEBT_TOTAL_AMT = #{debtTotalAmt,jdbcType=DECIMAL},
            </if>
            <if test="tranTimestamp != null">
                TRAN_TIMESTAMP = #{tranTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="lastChangeDate != null">
                LAST_CHANGE_DATE = #{lastChangeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createTimestamp != null">
                CREATE_TIMESTAMP = #{createTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                COMPANY = #{company,jdbcType=VARCHAR},
            </if>
        </set>
        where SESSION_ID = #{sessionId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.dcits.deposit.entity.RbTaeAccountCheckSum">
        update RB_TAE_ACCOUNT_CHECK_SUM
        set
            CRET_TOTAL_NUM = #{cretTotalNum,jdbcType=INTEGER},            CRET_TOTAL_AMT = #{cretTotalAmt,jdbcType=DECIMAL},            DEBT_TOTAL_NUM = #{debtTotalNum,jdbcType=INTEGER},            DEBT_TOTAL_AMT = #{debtTotalAmt,jdbcType=DECIMAL},            TRAN_TIMESTAMP = #{tranTimestamp,jdbcType=VARCHAR},            LAST_CHANGE_DATE = #{lastChangeDate,jdbcType=TIMESTAMP},            CREATE_TIMESTAMP = #{createTimestamp,jdbcType=VARCHAR},            COMPANY = #{company,jdbcType=VARCHAR}        where SESSION_ID = #{sessionId,jdbcType=VARCHAR}
    </update>
</mapper>