<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.deposit.repo.RbTranSceneMappingMapper">
    <resultMap id="BaseResultMap" type="com.dcits.deposit.entity.RbTranSceneMapping">
        <id column="TRAN_SCENE" property="tranScene" jdbcType="VARCHAR" />
        <result column="ATTR_VALUE" property="attrValue" jdbcType="VARCHAR" />
        <result column="KEY_VALUE" property="keyValue" jdbcType="VARCHAR" />
        <result column="SCENE_CLASS" property="sceneClass" jdbcType="VARCHAR" />
        <result column="ATTR_TYPE" property="attrType" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="TRAN_TIMESTAMP" property="tranTimestamp" jdbcType="VARCHAR" />
        <result column="COMPANY" property="company" jdbcType="VARCHAR" />
        <result column="TRAN_SCENE_DESC" property="tranSceneDesc" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        ATTR_VALUE,        KEY_VALUE,        SCENE_CLASS,        ATTR_TYPE,        STATUS,        TRAN_TIMESTAMP,        COMPANY,        TRAN_SCENE,        TRAN_SCENE_DESC    </sql>

    <select id="selectByExample" parameterType="com.dcits.deposit.entity.RbTranSceneMappingExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from RB_TRAN_SCENE_MAPPING
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from RB_TRAN_SCENE_MAPPING
        where TRAN_SCENE = #{tranScene,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from RB_TRAN_SCENE_MAPPING
        where TRAN_SCENE = #{tranScene,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.dcits.deposit.entity.RbTranSceneMappingExample">
        delete from RB_TRAN_SCENE_MAPPING
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.dcits.deposit.entity.RbTranSceneMapping">
        insert into RB_TRAN_SCENE_MAPPING
        (
            ATTR_VALUE,            KEY_VALUE,            SCENE_CLASS,            ATTR_TYPE,            STATUS,            TRAN_TIMESTAMP,            COMPANY,            TRAN_SCENE,            TRAN_SCENE_DESC        )
        values
        (
            #{attrValue,jdbcType=VARCHAR},            #{keyValue,jdbcType=VARCHAR},            #{sceneClass,jdbcType=VARCHAR},            #{attrType,jdbcType=VARCHAR},            #{status,jdbcType=VARCHAR},            #{tranTimestamp,jdbcType=VARCHAR},            #{company,jdbcType=VARCHAR},            #{tranScene,jdbcType=VARCHAR},            #{tranSceneDesc,jdbcType=VARCHAR}        )
    </insert>

    <insert id="insertSelective" parameterType="com.dcits.deposit.entity.RbTranSceneMapping">
        insert into RB_TRAN_SCENE_MAPPING
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attrValue != null">
                ATTR_VALUE,
            </if>
            <if test="keyValue != null">
                KEY_VALUE,
            </if>
            <if test="sceneClass != null">
                SCENE_CLASS,
            </if>
            <if test="attrType != null">
                ATTR_TYPE,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="tranTimestamp != null">
                TRAN_TIMESTAMP,
            </if>
            <if test="company != null">
                COMPANY,
            </if>
            <if test="tranScene != null">
                TRAN_SCENE,
            </if>
            <if test="tranSceneDesc != null">
                TRAN_SCENE_DESC,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="attrValue != null">
                #{attrValue,jdbcType=VARCHAR},
            </if>
            <if test="keyValue != null">
                #{keyValue,jdbcType=VARCHAR},
            </if>
            <if test="sceneClass != null">
                #{sceneClass,jdbcType=VARCHAR},
            </if>
            <if test="attrType != null">
                #{attrType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="tranTimestamp != null">
                #{tranTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="tranScene != null">
                #{tranScene,jdbcType=VARCHAR},
            </if>
            <if test="tranSceneDesc != null">
                #{tranSceneDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.dcits.deposit.entity.RbTranSceneMappingExample" resultType="java.lang.Long">
        select count(*) from RB_TRAN_SCENE_MAPPING
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map">
        update RB_TRAN_SCENE_MAPPING
        <set>
            <if test="row.attrValue != null">
                ATTR_VALUE = #{row.attrValue,jdbcType=VARCHAR},
            </if>
            <if test="row.keyValue != null">
                KEY_VALUE = #{row.keyValue,jdbcType=VARCHAR},
            </if>
            <if test="row.sceneClass != null">
                SCENE_CLASS = #{row.sceneClass,jdbcType=VARCHAR},
            </if>
            <if test="row.attrType != null">
                ATTR_TYPE = #{row.attrType,jdbcType=VARCHAR},
            </if>
            <if test="row.status != null">
                STATUS = #{row.status,jdbcType=VARCHAR},
            </if>
            <if test="row.tranTimestamp != null">
                TRAN_TIMESTAMP = #{row.tranTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="row.company != null">
                COMPANY = #{row.company,jdbcType=VARCHAR},
            </if>
            <if test="row.tranScene != null">
                TRAN_SCENE = #{row.tranScene,jdbcType=VARCHAR},
            </if>
            <if test="row.tranSceneDesc != null">
                TRAN_SCENE_DESC = #{row.tranSceneDesc,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map">
        update RB_TRAN_SCENE_MAPPING
        set
            ATTR_VALUE = #{row.attrValue,jdbcType=VARCHAR},            KEY_VALUE = #{row.keyValue,jdbcType=VARCHAR},            SCENE_CLASS = #{row.sceneClass,jdbcType=VARCHAR},            ATTR_TYPE = #{row.attrType,jdbcType=VARCHAR},            STATUS = #{row.status,jdbcType=VARCHAR},            TRAN_TIMESTAMP = #{row.tranTimestamp,jdbcType=VARCHAR},            COMPANY = #{row.company,jdbcType=VARCHAR},            TRAN_SCENE = #{row.tranScene,jdbcType=VARCHAR},            TRAN_SCENE_DESC = #{row.tranSceneDesc,jdbcType=VARCHAR}        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.dcits.deposit.entity.RbTranSceneMapping">
        update RB_TRAN_SCENE_MAPPING
        <set>
            <if test="attrValue != null">
                ATTR_VALUE = #{attrValue,jdbcType=VARCHAR},
            </if>
            <if test="keyValue != null">
                KEY_VALUE = #{keyValue,jdbcType=VARCHAR},
            </if>
            <if test="sceneClass != null">
                SCENE_CLASS = #{sceneClass,jdbcType=VARCHAR},
            </if>
            <if test="attrType != null">
                ATTR_TYPE = #{attrType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="tranTimestamp != null">
                TRAN_TIMESTAMP = #{tranTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                COMPANY = #{company,jdbcType=VARCHAR},
            </if>
            <if test="tranSceneDesc != null">
                TRAN_SCENE_DESC = #{tranSceneDesc,jdbcType=VARCHAR},
            </if>
        </set>
        where TRAN_SCENE = #{tranScene,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.dcits.deposit.entity.RbTranSceneMapping">
        update RB_TRAN_SCENE_MAPPING
        set
            ATTR_VALUE = #{attrValue,jdbcType=VARCHAR},            KEY_VALUE = #{keyValue,jdbcType=VARCHAR},            SCENE_CLASS = #{sceneClass,jdbcType=VARCHAR},            ATTR_TYPE = #{attrType,jdbcType=VARCHAR},            STATUS = #{status,jdbcType=VARCHAR},            TRAN_TIMESTAMP = #{tranTimestamp,jdbcType=VARCHAR},            COMPANY = #{company,jdbcType=VARCHAR},            TRAN_SCENE_DESC = #{tranSceneDesc,jdbcType=VARCHAR}        where TRAN_SCENE = #{tranScene,jdbcType=VARCHAR}
    </update>
</mapper>